cache/*
logs/*
world/*
world_nether/*
world_the_end/*
.console_history
banned-ips.json
banned-players.json
start.bat
usercache.json
whitelist.json
paper.jar
ops.json
eula.txt

# Plugin Configs
plugins/CoreProtect/database.db
plugins/InventoryRollback/saves/*
plugins/HorseTpWithMe/
plugins/LuckPerms/libs/*
plugins/LuckPerms/translations/*
plugins/LuckPerms/contexts.json
# plugins/LuckPerms/luckperms-h2.mv.db
plugins/Essentials/warps/*
plugins/Essentials/custom_items.yml
plugins/Essentials/items.json
plugins/Essentials/kits.yml
plugins/Essentials/tpr.yml
plugins/Essentials/upgrades-done.yml
plugins/Essentials/worth.yml

# Plugins
plugins/CoreProtect-19.5.jar
plugins/Harbor-1.6.4-b1-SNAPSHOT.jar
plugins/HorseTpWithMe-7.4.0.2.jar
plugins/InventoryRollback-1.4.0.jar
plugins/ProtocolLib.jar
plugins/Vault.jar
plugins/FarmControl-1.1.7.jar
plugins/LuckPerms-Bukkit-5.3.50.jar
plugins/EssentialsX-2.18.2.0.jar
plugins/EssentialsXSpawn-2.18.2.0.jar