cache/*
logs/*
world/*
world_nether/*
world_the_end/*
.console_history
banned-ips.json
banned-players.json
start.bat
usercache.json
whitelist.json
paper.jar
ops.json
eula.txt

# Plugin Configs
plugins/CoreProtect/database.db
plugins/InventoryRollback/saves/*
plugins/HorseTpWithMe/Permissions.txt

# Plugins
plugins/CoreProtect-19.5.jar
plugins/Harbor-1.6.4-b1-SNAPSHOT.jar
plugins/HorseTpWithMe-7.4.0.2.jar
plugins/InventoryRollback-1.4.0.jar
plugins/ProtocolLib.jar
plugins/Vault.jar
plugins/FarmControl-1.1.7.jar